<div class="ice_cream-links">
  <a href="#" class="ice_cream" data-choice="ice_cream">
  Ice Cream
  </a>
  <a href="#" class="waffle" data-choice="waffle">
  Waffles
  </a>
</div>

<div class="grid-6" id="ice_cream_form">
Ice Cream
</div>

<div class="grid-6" id="waffle_form">
Waffles
</div>
