<div class="ice_cream-links">
  <a href="/ice_cream/form" class="ice_cream" data-choice="ice_cream">
   Ice cream
  </a>
  <a href="/waffle/form" class="waffle" data-choice="waffle">
  Waffles
  </a>
</div>
